In [1]:
class Student:
    mentor = 'Abhijeet'
    age = 22

In [2]:
a = Student()

In [3]:
b = Student()

In [4]:
c = Student()

In [5]:
print(c.mentor, b.mentor, a.mentor, a.age, b.age, c.age)

Abhijeet Abhijeet Abhijeet 22 22 22

In [6]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self):
        print("Hello I am:", self.alive, self.name, self.age)

In [7]:
p = Person()

In [8]:
print(p)

<__main__.Person object at 0x0000024F85C0DE70>

In [9]:
p.hello()

Hello I am: True None 22

In [10]:
class Person:
    alive = True
    age = 22
    name = None
    
    def hello(self, name_person, age_person, alive_person = True):
        self.name = name_person
        self.age = age_person
        self.alive = alive_person
        print("Hello I am:", self.alive, self.name, self.age)

In [11]:
q = Person()

In [12]:
print(type(q))

<class '__main__.Person'>

In [13]:
q.hello('abhijeet', 30)

Hello I am: True abhijeet 30

In [14]:
q.name

'abhijeet'

In [15]:
q.age

30

In [16]:
p = Person()

In [17]:
print(p.name)

None

In [18]:
p.hello('samar', 99, False)
print(p.name, p.age, p.alive)

Hello I am: False samar 99
samar 99 False

In [19]:
# Dunders/ Magic Function

In [20]:
class Person:
    living = True
    
    def __init__(self, person_name, person_age, person_height):
        self.name = person_name
        self.age = person_age
        self.height = person_height
        print("Chal gya")
        
    def hello(self):
        print(self.name, self.age, self.height)

In [21]:
person1 = Person('Abhijeet', 22, 5.10)
print("NEXT LINE")
person2 = Person('Saihaj', 19, 6)

Chal gya
NEXT LINE
Chal gya

In [22]:
print(person1.name, person1.age, person1.height)
print(person2.name, person2.age, person2.height)

Abhijeet 22 5.1
Saihaj 19 6

In [23]:
print(person1.living, person2.living)

True True

In [24]:
class Student:
    mentor = "Abhijeet Bhaiya"
    def __init__(self, name, rollno, age):
        self.name = name
        self.rollno = rollno
        self.age = age
s1 = Student(input("name"), input("RollNO"), input("age"))
print(s1.mentor, s1.name, s1.rollno, s1.age)

nameSaihaj
RollNO93
age19
Abhijeet Bhaiya Saihaj 93 19

In [25]:
class Student:
    mentor = 'Abhijeet'
    
    def __init__(self, name, age, roll):
        self.name = name
        self.age = age
        self.roll = roll

In [26]:
a = Student(input('Name'), int(input('Age')), int(input('roll')))

NameSaihaj
Age19
roll93

In [28]:
b = Student(input('Name'), int(input('Age')), int(input('roll')))

NameSaihajpreet
Age19
roll93

In [29]:
print(a.name, b.name, a.age, b.age, a.roll, b.roll)

Saihaj Saihajpreet 19 19 93 93

In [30]:
print(a.mentor, b.mentor, id(a.mentor), id(b.mentor), id(Student('a', 'b', 'c').mentor))

Abhijeet Abhijeet 2540566217456 2540566217456 2540566217456

In [31]:
print(id(a.name), id(b.name))

2540570851888 2540565484528

In [32]:
a

In [33]:
# HW PATTERN PROBLEM

In [34]:
for i in range(5):
    counter = i+1
    counterneg= 2*i
    for j in range(2*i+1):
        if counter<=2*i+1:
            print(counter,end = ' ')
            counter+=1
        else:
            print(counterneg,end = ' ')
            counterneg-=1
            
    print("\r")

1
2 3 2
3 4 5 4 3
4 5 6 7 6 5 4
5 6 7 8 9 8 7 6 5

In [35]:
class Car:
    
    def __init__(self, model, milage):
        self.model = model
        self.milage = milage
        
    def __add__(self, other):
        return int(self.milage) + int(other.milage)
    
    def __eq__(self, other):
        return int(self.milage) == int(other.milage)
    
    def __str__(self):
        return "{} {}".format(self.milage, self.model)

In [36]:
c1 = Car('BMW', 9)
c2 = Car('Audi', 4)

In [37]:
c1 == c2

False

In [38]:
print(c1+c2)

13

In [39]:
str(c1)

'9 BMW'