In [1]:
# Inheritance

In [2]:
class School_Members:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print(f"Initialised School Member: {self.name}")
        
    def tell(self):
        print(f"Name: {self.name}, Age: {self.age}")
        
    
class Teachers(School_Members):
    
    def __init__(self, teacher_name, teacher_age, teacher_salary):
        School_Members.__init__(self, teacher_name, teacher_age)
        self.salary = teacher_salary
        print(f"Initialised Teacher: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Salary: {self.salary}")
        
class Students(School_Members):
    
    def __init__(self, student_name, student_age, student_marks):
        School_Members.__init__(self, student_name, student_age)
        self.marks = student_marks
        print(f"Initialised Student: {self.name}")
        
    def tell(self):
        School_Members.tell(self)
        print(f"Marks: {self.marks}")

In [3]:
t = Teachers('Abhijeet', 22, 1000)
s = Students('Aamir', 19, 75)

Initialised School Member: Abhijeet
Initialised Teacher: Abhijeet
Initialised School Member: Aamir
Initialised Student: Aamir

In [4]:
t.tell()
s.tell()

Name: Abhijeet, Age: 22
Salary: 1000
Name: Aamir, Age: 19
Marks: 75

In [5]:
class Class1:
    
    def m(self):
        print("In class 1")
        
class Class2(Class1):
    
    def m(self):
        print("In class 2")
#     pass
    
class Class3(Class1):
    
    def m(self):
        print("In class 3")
        
class Class4(Class3, Class2):
    
    print("In class 4")
    pass

obj = Class4()
print('Next')
obj.m()

In class 4
Next
In class 3

In [6]:
Class2.m(obj)

In class 2

In [7]:
a = 10
for i in range(5):
    print(i)
    if a==10:
        pass
    if i==3:
        a = 0
    if (a!=10):
        break

0
1
2
3

In [8]:
for i in range(50):
    pass

In [9]:
def adder(a, b, *args):
    print(a + b)
    for i in args:
        print(i)

In [10]:
adder(10, 20, 22, 99)

30
22
99

In [11]:
class Best_friend:
    
    best_friends = {}
    
    def __init__(self, name):
        self.best_friends[str(name)] = []
        
    def add_best_friend(self, name, name_best_friend):
        self.best_friends[str(name)].append(name_best_friend)

class Person(Best_friend):
    
    def __init__(self, name, age):
        super().__init__(name)
        self.name = name
        self.age = age
        
    def my_best_friend(self, best_friend):
        super().add_best_friend(self.name, best_friend)

In [12]:
a = Person("Abhijeet", 22)
b = Person('Aamir', 19)
c = Person('Rohit', 25)

In [13]:
c.name

'Rohit'

In [14]:
a.my_best_friend(c.name)

In [15]:
a.best_friends

{'Abhijeet': ['Rohit'], 'Aamir': [], 'Rohit': []}

In [16]:
b.my_best_friend('Sahil')

In [17]:
b.best_friends

{'Abhijeet': ['Rohit'], 'Aamir': ['Sahil'], 'Rohit': []}

In [18]:
a.my_best_friend(b.name)

In [19]:
a.best_friends

{'Abhijeet': ['Rohit', 'Aamir'], 'Aamir': ['Sahil'], 'Rohit': []}

In [20]:
b.best_friends

{'Abhijeet': ['Rohit', 'Aamir'], 'Aamir': ['Sahil'], 'Rohit': []}

In [21]:
print(id(a.best_friends), id(b.best_friends))

1430298166784 1430298166784

In [22]:
print("Best friends of Abhijeet--->", a.best_friends[a.name])

Best friends of Abhijeet---> ['Rohit', 'Aamir']