In [1]:
def name_printer(name):
    print("Hello", name)
    name = "Hello " + name
    return name

In [2]:
name = name_printer('Saihaj')

Hello Saihaj

In [3]:
print(name)

Hello Saihaj

In [4]:
a = "Hello " + 'world'
print(a)

Hello world

In [5]:
def calc(a, b):
#     add = a+b
#     sub = a-b
#     mul = a*b
#     div = a/b
    return (a + b), (a - b), (a * b), (a / b)

In [6]:
print(calc(1, 2))

(3, -1, 2, 0.5)

In [7]:
add, sub, mul, div = calc(10, 20)

In [8]:
print(div)

0.5

In [9]:
add, _, mul, _ = calc(10, 20)

In [10]:
_

0.5

In [11]:
def first(name):
    return name
def second(name):
    return name

In [12]:
def name(a, b, c, d):
    print(a(c), b(d))

In [13]:
name(first, second, 'Saihaj', 'Coder')

Saihaj Coder

In [14]:
print(first)

<function first at 0x00000244D96795A0>

In [15]:
# If
# Elif
# Else
# Conditional Statements

In [16]:
b = 2

In [17]:
b == 109

False

In [18]:
b == 2

True

In [19]:
b > 100

False

In [26]:
b = 29

In [27]:
if b > 10:
    print("The value of b is greater than 10")

The value of b is greater than 10

In [28]:
if b == 10:
    print("The value of b is greater than 10")
elif b > 20:
    print("Value also greater than 20")
if b > 30:
    print("Value greater than 30")
if b < 30:
    print("Value greater than 20 but less than 30")
else:
    print("Value not in scale")

Value also greater than 20
Value greater than 20 but less than 30

In [29]:
b

29

In [30]:
integer = 10

In [31]:
if integer == 9:
    print("Hi")
if integer == 10:
    print("Hello")
else:
    print("Bye")

Hello

In [32]:
if integer == 10:
    print("10")
print("not 10")

10
not 10

In [33]:
def func(a,b):
    if(a==b):
        print("a is equal to b")
    elif(a>b):
        print("a is greater than b")
    else:
        print("b is greater than a")

In [34]:
func(10, 20)

b is greater than a

In [35]:
a = int(input("enter the first no."))

b = int(input("enter the second no."))

enter the first no.10
enter the second no.20

In [37]:
if a > b:
    print("A greater B")
elif a < b:
    print("B greater A")
else :
    print("Equal")

B greater A

In [38]:
def greater(a,b):
    if a > b:
        print('a is greater than b')
    else :
        print('b is greater than a')
greater(10,10)

b is greater than a

In [39]:
def fun(a,b):
    if a>b:
        print("A is greater")
    elif a<b:
        print("B is greater")
    else:
        print("Equal")

In [40]:
fun(10, 20)

B is greater

In [41]:
b = input("Enter a number: ")

Enter a number: 6

In [42]:
print(b, type(b))

6 <class 'str'>

In [43]:
b

'6'

In [44]:
print(b == 6)

False

In [45]:
print(b == '6')

True

In [46]:
# Type Casting -> Converting one data type to another
b = int(b)

In [47]:
type(b)

int

In [48]:
b = int(input("Enter a number: "))
print(type(b))

Enter a number: 22
<class 'int'>

In [49]:
fun(int(input('Enter argument')), int(input('Enter argument')))

Enter argument2
Enter argument3
B is greater

In [50]:
print(type(str(b)))

<class 'str'>

In [51]:
b

22

In [52]:
b = str(b)
type(int(b))

int

In [53]:
type(b)

str

In [54]:
print(int(input('Enter random values: ')))

Enter random values: 7
7

In [55]:
def odd_even(s):
    if s % 2 == 0:
        print("EVEN")
    else:
        print("ODD")

In [56]:
odd_even(int(input('Enter number')))

Enter number29
ODD