In [1]:
# Find the occurrences of every character in the given string

In [2]:
a = "The quick brown fox jumps over the lazy dog"
def func(a):
    b = []
    c=a.lower()
    for i in c:
        if(i not in b):
            b.append(i)
            no_of_occur = c.count(i)
            print("Occurances of ",i," are ", no_of_occur)
func(a)

Occurances of  t  are  2
Occurances of  h  are  2
Occurances of  e  are  3
Occurances of     are  8
Occurances of  q  are  1
Occurances of  u  are  2
Occurances of  i  are  1
Occurances of  c  are  1
Occurances of  k  are  1
Occurances of  b  are  1
Occurances of  r  are  2
Occurances of  o  are  4
Occurances of  w  are  1
Occurances of  n  are  1
Occurances of  f  are  1
Occurances of  x  are  1
Occurances of  j  are  1
Occurances of  m  are  1
Occurances of  p  are  1
Occurances of  s  are  1
Occurances of  v  are  1
Occurances of  l  are  1
Occurances of  a  are  1
Occurances of  z  are  1
Occurances of  y  are  1
Occurances of  d  are  1
Occurances of  g  are  1

In [3]:
# Tuples

In [4]:
tup = (1, 2, 3, 4, 5, 4.5, 'a')

In [5]:
type(tup)

tuple

In [9]:
print(tup[-1])

a

In [10]:
new_tup = tup + (1,)

In [11]:
new_tup

(1, 2, 3, 4, 5, 4.5, 'a', 1)

In [12]:
print(range(3, 9))

range(3, 9)

In [13]:
def adder(a, b):
    return (a, b)

In [14]:
a = adder(10, 20)
print(type(a))

<class 'tuple'>

In [16]:
a
print(id(a))

2562744010368

In [17]:
a = (1,2,3)

In [18]:
print(id(a))

2562745293120

In [19]:
new_tup

(1, 2, 3, 4, 5, 4.5, 'a', 1)

In [20]:
new_tup = list(new_tup)

In [21]:
print(type(new_tup))

<class 'list'>

In [22]:
new_tup[2] = 10

In [23]:
new_tup

[1, 2, 10, 4, 5, 4.5, 'a', 1]

In [24]:
new_tup = tuple(new_tup)

In [25]:
new_tup

(1, 2, 10, 4, 5, 4.5, 'a', 1)

In [26]:
range(9)

range(0, 9)

In [27]:
for i in new_tup:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
10 <class 'int'>
4 <class 'int'>
5 <class 'int'>
4.5 <class 'float'>
a <class 'str'>
1 <class 'int'>

In [28]:
type(adder(1, 2))

tuple

In [29]:
# Dictionaries

In [32]:
a = {
    'a': 'first alphabet in dictionary',
    'b': 'second',
    'c': 1,
    'd': [1, 2],
    'e': True,
    'f': range,
    'g': {
        'hello': 42,
        'hi': 1.4
    }
}

In [33]:
type(a)

dict

In [34]:
print(a['g'])

{'hello': 42, 'hi': 1.4}

In [35]:
print(a['g']['hi'])

1.4

In [43]:
print(a.get('e'))

True

In [44]:
print(a.items())

dict_items([('a', 'first alphabet in dictionary'), ('b', 'second'), ('c', 1), ('d', [1, 2]), ('e', True), ('f', <class 'range'>), ('g', {'hello': 42, 'hi': 1.4})])

In [45]:
a.values()

dict_values(['first alphabet in dictionary', 'second', 1, [1, 2], True, <class 'range'>, {'hello': 42, 'hi': 1.4}])

In [46]:
a.keys()

dict_keys(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

In [47]:
values = []
for i in a.items():
#     print(i[1])
    if type(i[1]) == dict:
#         temp = i[1]
        values.append(i[1].values())
        continue
    values.append(i[1])
print(values)

['first alphabet in dictionary', 'second', 1, [1, 2], True, <class 'range'>, dict_values([42, 1.4])]

In [48]:
print(a['g'])

{'hello': 42, 'hi': 1.4}

In [49]:
a

{'a': 'first alphabet in dictionary',
 'b': 'second',
 'c': 1,
 'd': [1, 2],
 'e': True,
 'f': range,
 'g': {'hello': 42, 'hi': 1.4}}

In [50]:
print(a['b'])

second

In [51]:
print(a['e'])

True

In [52]:
print(a['d'])

[1, 2]

In [53]:
a = {
    'a':'First Alpha',
    '1':'First num',
    't':('a', 'b'),
    'd':{1:'a', 2:'b'},
    'f':range(0,9)
}
for i in a:
    if(type(a[i]) == dict):
        for j in a[i]:
            print(a[i][j])
    else:
        print(a[i])

First Alpha
First num
('a', 'b')
a
b
range(0, 9)

In [54]:
a = {}
a['1'] = 9

In [55]:
a

{'1': 9}

In [56]:
a[2] = 'w'

In [57]:
a

{'1': 9, 2: 'w'}

In [58]:
# Set

In [59]:
a = {1, 2, 3, 4, 4 ,1}

In [60]:
type(a)

set

In [61]:
a

{1, 2, 3, 4}

In [62]:
a = []
for i in range(100):
    a.append(i)

In [63]:
a

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [64]:
aa = []
for i in range(50, 150):
    aa.append(i)

In [65]:
aa

[50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149]

In [66]:
print(type(set(aa)))

<class 'set'>

In [68]:
a = set(a)
aa = set(aa)
print(a.intersection(aa))

{50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99}

In [69]:
a.union(aa)

{0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149}

In [70]:
d = {
    'a': [1,2,3,8,4,4,6,8,3,1,2,12],
    'q': [1,2,3,4,56,6,4,347,232,18,5,7]
}

In [71]:
for i in d.items():
    print(set(i[1]))

{1, 2, 3, 4, 6, 8, 12}
{1, 2, 3, 4, 5, 6, 7, 232, 18, 56, 347}